@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSansCondensed-Black.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

.farcaster-login-btn button {
  background-color: var(--button-background-color, #855dcd);
  padding: 0.8rem 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  color: white;
  font-size: 16px;
  font-weight: 900;
}

.farcaster-login-btn.w-full button {
  width: 100%;
}

.farcaster-login-btn.w-transparent button {
  background-color: transparent;
}

.farcaster-login-btn button:hover {
  /* lighten it a bit */
  background-color: var(--button-background-color-hover);
}

.farcaster-login-btn button span {
  display: none;
}

.farcaster-login-btn button::after {
  content: 'Sign In with Farcaster';
  font-size: 14px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  margin-left: 1rem;
  z-index: 10;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}
